@if (Mood != null)
{
    <div class="flex items-center gap-2 px-2 py-1 rounded-lg w-fit @GetMoodColor(Mood.Type)">
        <i class="@GetMoodIcon(Mood.Type) flex text-extra-foreground"></i>
        <span class="text-xs font-semibold uppercase text-extra-foreground">@Mood.Name</span>
    </div>
}

@code {
    [Parameter] public Mood? Mood { get; set; }

    static string GetMoodIcon(Mood.MoodType value) => value switch
    {
        Mood.MoodType.Positive => "fi fi-rr-face-awesome",
        Mood.MoodType.Negative => "fi fi-rr-face-disappointed",
        Mood.MoodType.Neutral => "fi fi-rr-meh",
        _ => "fi fi-rs-question-square"
    };

    static string GetMoodColor(Mood.MoodType value) => value switch
    {
        Mood.MoodType.Positive => "bg-positive",
        Mood.MoodType.Negative => "bg-negative",
        Mood.MoodType.Neutral => "bg-neutral",
        _ => "bg-card/20"
    };
}