@inherits LayoutComponentBase

<div class="flex h-screen overflow-hidden">
    <Sidebar />

    <main class="flex-1 overflow-y-auto scrollbar-hide">
        <div class="max-w-[96rem] p-4">
            @Body
        </div>
    </main>
</div>