@inherits LayoutComponentBase   
@using JournalSystem.Components.Globals

<MudThemeProvider Theme="theme" IsDarkMode="isDark" />
<MudDialogProvider />
<MudSnackbarProvider />

<div>
    <Header />

    @Body
</div>


@code {
    private bool isDark;
    private MudTheme theme = new();
}
