@page "/journals"
@using JournalSystem.Components.Globals
@using JournalSystem.Models
@inject IJournalService JournalService

<a href="/add-journal">
    <AppButton>
        + Add Journal
    </AppButton>
</a>

<div>
    @if (entries is null)
    {
        <p>Loading...</p>
    }
    else if (!entries.Any())
    {
        <p>No items</p>
    }
    else
    {
        foreach (JournalEntry item in entries)
        {
            <div>
                @item.Title
            </div>
        }

    }

</div>

@code {
    List<JournalEntry>? entries;

    protected override async Task OnInitializedAsync()
    {

        var items = await JournalService.GetItemsAsync();

        entries = items ?? new List<JournalEntry>();
    }

}