@page "/journal"
@using System.Security.Cryptography.X509Certificates
@inject IJournalService JournalService
@inject IMoodService MoodService
@inject ITagService TagService
@inject ICategoryService CategoryService
@inject IJournalExportService JournalExportService
@inject IJSRuntime JS
@inject ToastService ToastService

<div class="space-y-6">

    <h1 class="text-4xl font-bold">
        Journals
    </h1>

    <section class="flex items-center justify-between gap-2">
        <div class="flex items-center gap-2">
            <input @bind="filters.Query" placeholder="Type here to search."
                class="w-full rounded-lg border border-border px-4 py-2 sm:w-sm text-foreground placeholder-muted-foreground focus:border-primary focus:outline-none focus:ring-2 focus:ring-primary/20 transition-shadow" />

            <button @onclick="ApplyFilters">
                <AppButton Variant="outline">Search</AppButton>
            </button>

            <div class="relative">
                <button @onclick="HandleTogglePopover">
                    <AppButton Variant="secondary">
                        Filters
                        <i class="fi fi-rr-filter"></i>
                    </AppButton>
                </button>

                @if (isPopoverShown)
                {
                    <JournalFilter Filters="filters" AllCategories="allCategories" AllMoods="allMoods" AllTags="allTags"
                        OnApplyFilters="ApplyFilters" OnClearFilters="ClearFilters" />
                }
            </div>
        </div>

        <div class="flex items-center gap-2">
            @if (entries.Count > 0)
            {
                <button @onclick="ExportCurrentPage">
                    <AppButton Variant="secondary">
                        <i class="fi fi-rr-file-pdf"></i> Export All Results
                    </AppButton>
                </button>
            }

            <a href="@SiteRoutes.AddJournal">
                <AppButton>
                    + Add Journal
                </AppButton>
            </a>
        </div>
    </section>

    @if (entries is null)
    {
        <p>Loading...</p>
    }
    else if (!entries.Any())
    {
        <p>No items</p>
    }
    else
    {

        <div class="grid gap-4 xl:grid-cols-2">
            @foreach (var entry in entries)
            {
                <JournalEntryCard Entry="entry" AllMoods="allMoods" AllTags="allTags" AllCategories="allCategories" />
            }
        </div>

        <div class="flex items-center gap-4 justify-between">
            <p class="text-sm text-muted-foreground">
                Page @filters.Page ~ Showing @entries.Count of @filters.PageSize items
            </p>

            <div class="flex items-center gap-1">
                <button @onclick="HandlePrevPage">
                    <AppButton Variant="secondary">
                        <i class="fi fi-rr-angle-small-left"></i> Previous
                    </AppButton>
                </button>
                <button @onclick="HandleNextPage">
                    <AppButton Variant="secondary">
                        Next <i class="fi fi-rr-angle-small-right"></i>
                    </AppButton>
                </button>
            </div>
        </div>
    }

</div>


@* data fetchers *@
@code {
    List<Mood> allMoods = [];
    List<Tag> allTags = [];
    List<Category> allCategories = [];
    List<JournalEntry> entries = [];

    protected override async Task OnInitializedAsync()
    {
        await LoadData(1);
        allMoods = await MoodService.GetItemsAsync();
        allTags = await TagService.GetItemsAsync();
        allCategories = await CategoryService.GetItemsAsync();
    }

    async Task LoadData(int page)
    {
        filters.Page = page;

        var result = await JournalService.GetItemsAsync(filters);

        entries = result;
        filters.HasNextPage = result.Count == filters.PageSize;
        ToastService.Show("Data fetched successfully!", ToastType.Success);
    }
}

@* filter and pagination *@
@code {
    FilterProvider filters = new();

    async Task HandleNextPage()
    {
        if (!filters.HasNextPage) return;
        await LoadData(filters.Page + 1);
    }

    async Task HandlePrevPage()
    {
        if (filters.Page <= 1) return;
        await LoadData(filters.Page - 1);
    }

    async Task ApplyFilters()
    {
        isPopoverShown = false;
        filters.Page = 1;
        await LoadData(1);


    }

    async Task ClearFilters()
    {
        isPopoverShown = false;

        filters = new();
        await LoadData(1);
        ToastService.Show("Filters Cleared successfully!", ToastType.Success);

    }

    async Task ExportCurrentPage()
    {
        if (entries == null || entries.Count == 0)
            return;

        var ids = entries.OrderByDescending(e => e.EntryDate).Select(e => e.Id);
        var exportDtos = await JournalExportService
        .BuildJournalExport(ids);

        await JS.InvokeVoidAsync(
        "exportJournalsToPdf",
        exportDtos
        );
        ToastService.Show($"{ids.Count()} items exported successfully!", ToastType.Success);
    }
}

@* popover logic  *@
@code {
    bool isPopoverShown = false;
    void HandleTogglePopover() => isPopoverShown = !isPopoverShown;
}