@page "/calendar"
@inject IJSRuntime JS


<div class="space-y-4">
    <h1 class="text-4xl font-bold"> Calendar </h1>

    <div id="calendar"></div>

</div>
@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Initialize calendar JS
            await JS.InvokeVoidAsync("initializeFullCalendar");
        }
    }
}