@page "/settings"
@inject IPreferenceService PreferenceService
@inject IPasswordService PasswordService

<h1 class="text-4xl font-bold">
    Settings
</h1>

<button @onclick="Terminate">
    <AppButton> Terminate User Details </AppButton>
</button>

@code {
    void Terminate()
    {
        PasswordService.TerminatePassword();
        PreferenceService.TerminateAllPreferences();
        Console.WriteLine("Success");
    }
}