@page "/settings"
@inject NavigationManager Nav
@inject IPreferenceService PreferenceService
@inject IPasswordService PasswordService
@inject ToastService ToastService

<div class="space-y-6">
    <h1 class="text-4xl font-bold"> Settings </h1>

    <section class="grid grid-cols-2 gap-4">
        <ProfileCard />
        <SeedJournalEntriesCard />
        <NewCategoryCard />
        <NewTagCard />
        <div class="col-span-2">
            <ResetPinCard />
        </div>
    </section>
</div>


@*
<button class="mt-4" type="button" @onclick="TerminateUser">
    <AppButton Variant="destructive">
        Terminate Userp
    </AppButton>
</button>

@code {
    void TerminateUser()
    {
        PasswordService.TerminatePassword();
        PreferenceService.TerminateAllPreferences();
        ToastService.Show("Cleared username + PIN.", ToastType.Success);
        Nav.NavigateTo(SiteRoutes.Register, true);
    }
} 
*@