@using JournalSystem.Components.Globals
@using JournalSystem.Components.Layout

@layout AuthLayout
@page "/login"

@inject NavigationManager Nav
@inject IPasswordService PasswordService


<div class="min-h-screen flex items-center justify-center px-4">
    <div class="w-full max-w-md rounded-2xl border border-slate-200 bg-white p-6 shadow-sm">

        <EditForm Model="formModel" OnValidSubmit="Unlock" class="space-y-4 p-4 rounded-lg border shadow">

            <h3 class="text-xl font-semibold text-center">Enter PIN</h3>

            <InputText type="password" placeholder="PIN" @bind-Value="formModel.Pin"
                class="w-full rounded-md border border-slate-300 px-3 py-2 text-slate-900 placeholder-slate-400 focus:border-primary focus:outline-none focus:ring-2 focus:ring-primary/30" />

            @if (Error != string.Empty)
            {
                <div class="text-sm text-red-600">@Error</div>
            }

            <AppButton Type="submit" ClassName="w-full mt-4">
                Unlock
            </AppButton>



        </EditForm>

    </div>
</div>

@code {

    public class LoginFormModel
    {
        public string Pin { get; set; } = string.Empty;
    }
    LoginFormModel formModel = new();

    public String Error { get; set; } = string.Empty;


    async Task Unlock()
    {
        try
        {
            await PasswordService.ValidatePassword(formModel.Pin);
            Nav.NavigateTo("/journal", true);
        }
        catch (Exception e)
        {
            Error = e.Message;
        }

    }
}