@using JournalSystem.Components.Globals
@using JournalSystem.Components.Layout
@layout AuthLayout
@page "/login"
@inject NavigationManager Nav
@inject IPasswordService PasswordService
@inject IPreferenceService PreferenceService

<div class="min-h-screen flex items-center justify-center px-4">
    <div class="w-full max-w-md rounded-2xl border border-border bg-card p-8 shadow-sm">
        <EditForm Model="formModel" OnValidSubmit="Unlock" class="space-y-6">
            <div class="space-y-2">
                <h2 class="text-xl font-medium text-card-foreground">
                    Welcome Back, @PreferenceService.GetPreference(UserPreferences.Username)
                </h2>
                <p class="text-sm text-muted-foreground">Enter your PIN to continue</p>
            </div>

            <div class="space-y-2">
                <InputText type="password" placeholder="PIN" @bind-Value="formModel.Pin"
                    class="w-full rounded-lg  border border-border px-4 py-3 text-input-foreground placeholder-input-foreground focus:border-primary focus:outline-none focus:ring-2 focus:ring-primary/20 transition-shadow" />

                @if (!string.IsNullOrEmpty(Error))
                {
                    <p class="text-sm text-destructive">@Error</p>
                }
            </div>

            <button type="submit" class="w-fit">
                <AppButton ClassName="w-full">
                    Unlock
                    <i class="fi fi-rr-sign-out-alt"></i>
                </AppButton>
            </button>
        </EditForm>
    </div>
</div>

@code {
    public class LoginFormModel
    {
        public string Pin { get; set; } = string.Empty;
    }

    LoginFormModel formModel = new();
    public string Error { get; set; } = string.Empty;

    async Task Unlock()
    {
        try
        {
            await PasswordService.ValidatePassword(formModel.Pin);
            Nav.NavigateTo(SiteRoutes.Journal, true);
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}