@using JournalSystem.Components.Layout

@page "/"
@layout AuthLayout

<MudContainer Class="d-flex align-center justify-center" Style="min-height:100vh;">
    <MudPaper Class="pa-6 rounded-xl shadow-sm" Style="width:100%; max-width:420px;">

        <h3>Enter PIN</h3>

        <input type="password"
               placeholder="PIN"
               @bind="pin"
               @bind:event="oninput"
               style="width:100%; padding:8px; margin-top:12px; border:1px solid #000;" />

        <MudButton Class="mt-4"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   FullWidth="true"
                   OnClick="Unlock">
            Unlock
        </MudButton>

        @if (!string.IsNullOrEmpty(error))
        {
            <div style="color:red; margin-top:12px;">
                @error
            </div>
        }

    </MudPaper>
</MudContainer>

@code {
    [Inject] NavigationManager Nav { get; set; } = default!;

    string pin = string.Empty;
    string error = string.Empty;

    Task Unlock()
    {
        if (pin == "0000")
            Nav.NavigateTo("/journal");
        else
            error = "Invalid PIN.";

        return Task.CompletedTask;
    }
}
